<template>
  <div class="row">
    <div class="col s12 offset-m2 m8" v-for="media in medias">
      <div class="card">
        <div class="card-image">
          <img :src="media.thumbnail">
          <span class="card-title black-text text-darken-2">{{ media.title }}</span>
        </div>

        <div class="card-content">
          <div class="chip">{{ media.category }}</div>
          <p>{{ media.description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return { conf: "Alguma mensagem util" }
    },
    props: ['medias']
  }
</script>