<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="input-field col s12 offset-m2 m8">
          <select multiple v-model="filter">
            <option value="None" disabled selected>Selcione uma opção</option>
            <option value="Sports">Sports</option>
            <option value="Business">Business</option>
            <option value="Entertainment">Entertainment</option>
            <option value="News">News</option>
          </select>
          <label>Filtro da timeline</label>
        </div>
      </div>
      <cards :medias="filterFeed"></cards>
    </div>
  </div>
</template>

<script>
  import timelineComp from './components/timeline.vue'

  export default {
    data: function () {
      return { timeline: [], filter: [] }
    },

    mounted: function () {
      const elem = this.$el.querySelector('select')
      const instance = M.Select.init(elem, {})
    },

    components: {
      cards: timelineComp
    },

    methods: {
      test: function (e) {
        console.log('teste', e)
      }
    },
    
    computed: {
      filterFeed: function () {
        return (this.filter.length === 0)
          ? this.timeline
          : this.timeline.filter((media) => this.filter.includes(media.category))
      }
    },
  }
</script>
